# Core Data Processing Libraries
numpy
pandas

# Machine Learning Libraries
scikit-learn
xgboost
mlflow
dagshub

# Visualization Libraries
matplotlib
plotly
seaborn
statsmodels

# Web Framework
streamlit

# Environment Configuration
python-dotenv
